html {
  font-family: 'Open Sans', sans-serif;
}

#vis.vega-embed {
  width: 100%;
  display: flex;
}

#vis.vega-embed details,
#vis.vega-embed details summary {
  position: relative;
}

#vis2.vega-embed {
  width: 100%;
  display: flex;
}

#vis2.vega-embed details,
#vis2.vega-embed details summary {
  position: relative;
}